# (C) 2016 Chris Liechti <cliechti@gmx.net>
# SPDX-License-Identifier:    BSD-3-Clause

language: python

python:
  - 3.4
  - 3.5

install:
  - pip install -r requirements-travis.txt
  - pip install -e .

script:
  - python test/test_asyncio.py loop://
